body{
    background-color: rgb(133, 30, 30);
}
header{
    display: flex;
    flex-wrap: wrap;
}
.mainTittle{
    background-color: rgb(254, 254, 254);
    width: 100%;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align:left;
}
.mainTittle span h1{
    display: inline-block;
}

.barMenu{
    display: flex;
    justify-content: space-around;
    background-color: rgb(1, 1, 1);
    width: 100%;
    border-top:2px solid rgb(133, 30, 30);
    border-bottom: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style-type: none;
    text-align: center; 
}
.barMenu li {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
   padding-left: 40px;
   padding-right: 40px;
}


body{
    grid-template-columns: 10px;
}
.secondTittle{
    color:snow;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:900;
    font-style: italic;
    text-align: center;   
}
button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }

.barMenu li a{
    font-size: 24px;
    color: white;
    text-decoration: none;
}
.body{
    background-color: rgb(180, 72, 72);
    border: 7px solid rgb(5, 5, 5);
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
    text-align: center;  
    padding: 30px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    
}
.body h2{
    color:snow;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style:oblique;
    text-align: center;  
}
.body table {
    margin-left: 320px;
    padding: 5px;
}
.body table th{
    background-color: cornsilk;
    padding: 10px ;
    
}
.body table tr {
background-color: burlywood;




} 
footer{
    display: flex;
}
.bottomMenu{
    background-color:rgb(254, 254, 254);
    border-top:2px solid rgb(1, 1, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style: none;
    text-align: center;    
}

.bottomMenu li{
    display: inline-block;
 margin-top:  20px;  
 margin-bottom: 20px;
 margin-left: 55px;
 margin-right: 55px; 
   
}
.bottomMenu li a{
    font-size: 20px;
    color: rgb(5, 5, 5);
    text-decoration: none;

}
