*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.navBar{
    background-color:white; 
    display: flex;
    justify-content: space-around;
    grid-template-columns:repeat(8,1fr);
    align-items: center;
    
}

.logo{
    height: 120px;
    width: 450px;
    padding-bottom: 25px;
}

.menu{
    grid-column: 2 / 6;
    display: flex;
    gap:40px;
}
.menu li{
    list-style-type: none;
    
      
}
.menu li a{
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
    color: rgb(rgb(1, 1, 1), green, blue);
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.menu li a:hover{
    color:rgb(141, 48, 48);
    font-size:22px;
    transform:perspective(10deg);
}
.menuBar{
    display: none;
}
.login{
    grid-column: 8/9;
}
button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border:1px solid rgb(1, 1, 1);
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }

/* CUERPO */

.hero{
    height: 75vh;
    background-image: url(../crosshero_imagenes/pareja%20entrenando.webp);
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows:repeat(8,1fr);
    align-items: center;
}
.info{
    grid-column: 2/10;
    grid-row: 3/7;
    color:rgb(12, 12, 12);
    align-items: center;
   
}
.info h3{
    color:rgb(196, 64, 64);
    font-size: 25px;
    margin-bottom: 15px;
    background-color: rgba(86, 90, 88, 0.6);
    border: 2px solid rgb(1, 1, 1);
    padding-left: 10px;
    animation-name: aparecer;
    animation-duration: 3s;
    

}
@keyframes aparecer{
    0% { opacity: 0;
    }
    100% {opacity: 1;
    }
}
.info h1{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(242, 252, 248, 0.4);
   color: white;
   font-size: 4em;
   border: 2px solid rgb(1, 1, 1);
   text-align: center;
    font-style: italic;

}
.info article{
    font-weight: lighter;
    padding-top: 5px;
    text-align: justify;
    background-color: rgba(242, 252, 248, 0.4);
    border: 2px solid rgb(1, 1, 1);
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.hero article p{
    display: inline-block;
}



/* FOOTER */
.footer{
    display: flex;
    height: 80px;
    align-items: center;
    background-image: linear-gradient( to right, rgb(100, 96, 96) , white);
    color:black;
    border-top: 5px solid rgb(141, 48, 48);
    justify-content: space-around;
  
   
}

.followUs{
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s;
}
.followUs:hover{
    color:rgb(141, 48, 48);
    font-size:large;
    transform:perspective(10deg);
}

.redes{
    display: flex;
    justify-content:center;
    
}
.redes i:hover{
    color:rgb(141, 48, 48);
    font-size:35px;
    transform:perspective(10deg);
}
.redes i{
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
    font-size: 30px;
    transition: all 0.5s;
}


