body{
    background-color: rgb(133, 30, 30);
}

.mainTittle{
    background-color: rgb(254, 254, 254);
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align:left;
}
.mainTittle span h1{
    display: inline-block;
}
.secondTittle{
    color:snow;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:900;
    font-style: italic;
    text-align: center;   
}
.barMenu{
    display: flex;
    background-color: rgb(1, 1, 1);
    border-top:2px solid rgb(133, 30, 30);
    border-bottom: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style-type:none;
    list-style-type: none;
    text-align: center;    
}
.barMenu li {
 display: inline-block;
 margin-top:  20px;  
 margin-bottom: 20px;
 margin-left: 30px;
 margin-right: 55px; 
}
button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }

.barMenu li a{
    font-size: 24px;
    color: white;
    text-decoration: none;
}


.imagenesNotas{
    display: flex;
    margin: 10px;
  
}
.imagenesNotas span iframe{
    padding: 10px;
    border-radius: 5px;
    border: 3px solid rgb(5, 5, 5);
    margin: 10px;
}
.imagenesNotas span img{
    margin-top: 100px;
    margin-bottom: 50px;
}

.bottomMenu{
    background-color:rgb(254, 254, 254);
    border-top:2px solid rgb(1, 1, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style: none;
    text-align: center;    
}

.bottomMenu li{
    display: inline-block;
 margin-top:  20px;  
 margin-bottom: 20px;
 margin-left: 55px;
 margin-right: 55px; 
   
}
.bottomMenu li a{
    font-size: 20px;
    color: rgb(5, 5, 5);
    text-decoration: none;

}
